<h1>投稿一覧</h1>

<% @posts.each do |post| %>
  <div>
    <h2><%= post.title %></h2>
    <p>名前: <%= post.name %></p>
    <p><%= post.content %></p>
    <% if post.image.attached? %>
      <%= image_tag post.image %>
    <% end %>
    <hr>
  </div>
<% end % %>

<%= link_to '新規投稿', new_post_path %>